* {
  box-sizing: border-box;
  -moz-box-sizing:  border-box;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #000000;
}
/*
34px = 2.125rem
18px = 1.125rem
24px = 1.5rem
16px = 1rem (base)
*/


body {
    height: 100%;
    background: #F5F5F5;
    padding: 0;
    margin: 0;
    min-width: 320px;
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #3F4D51;
}

strong {
  font-family: 'museo_sans700', sans-serif;
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a {
  color: #40A4C4;
  text-decoration: none;

  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -ms-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

a .icon {
  fill: #40A4C4;
}

a:hover {
  color: #2A748B;
  text-decoration: underline;
}

a:hover .icon {
  fill: #2A748B;
}

.width {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px;
}

.width-footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
}


h5 {
  margin: 40px auto 10px;
  width: 260px;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid #E0F0F5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h6 {
  font-size: 1em;
  margin-bottom: 10px;
  font-family:  'museo_sans700', sans-serif;
}

h4 {
  font-size: 2.5em;
  font-family: 'museo_sans700', sans-serif;
  margin: 60px auto 10px;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

span.subhead {
  font-size:1.5em;
  text-align: center;
  display: block;
  position: relative;
}

span.subhead:before, span.subhead:after {
  content: "";
  width: 60px;
  height: 6px;
  border-top: 1px solid white;
  display: inline-block;
  margin: 0 10px;
}

nav {
  font-family: 'museo_sans300', sans-serif;
  float: right;
  margin: 40px 0 0 0;
  z-index: 2;
  position: relative;

  -webkit-touch-callout: element;
  -webkit-user-select: element;
  -khtml-user-select: element;
  -moz-user-select: element;
  -ms-user-select: element;
  user-select: element;
}

#splash nav {
  float: none;
}

nav a {
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,0);
  border-radius: 0;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  margin: 0 10px;
  padding: 10px 16px 24px;
  width: 30%;

  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

@media all and (max-width : 360px) {
  nav a {
    font-size: 1em;
    padding: 10px 6px;
  }
}

nav a:hover {
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  padding-bottom: 20px;
  text-decoration: none;
}

nav a:active {
  color: white;
}

nav .applink,
nav .applink:hover {
  background-position: 15px 7px;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  padding: 30px;
  /*padding: 20px 20px 28px; */
}

nav .applink:hover {
  padding-bottom: 24px;
}

nav .appstore-link,
nav .appstore-link:hover{
  background-image: url('img/logo_appstore_shrink.png');
}
nav .playstore-link,
nav .playstore-link:hover {
  /*background-image: url('img/logo_playstore_shrink.png');*/
}

/* ====== Header Section */
section#header {
  /*background:#40A4C4;*/
  background: #FFC107;
  color: white;
}

section#header a {

}

section#header h3 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 5em;
  float: left;
  margin: 0;
  padding-left: 20px;
  /*width:286px;
  height:70px;
  background-image:url('img/burrd_large.png');
  background-size:contain;
  background-repeat:no-repeat;
  
  text-indent:-9000px;
  margin-bottom:35px;
  */
}

section#header img {
  float: left;
  display: inline-block;
  height: 5em;
  width: 5em;
}

@media all and (max-width : 720px) {
  section#header h3.logo {

    float: left;
    display: inline-block;
    margin: 0 auto;
    font-size: 3.5em;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }

  nav {
    padding-top: 50px;
    text-align:  center;
    float: none;
    display: block;
  }

  section#header {
    background-color: #FFC107;
    height: 200px;
  }
}
/* ====== About Section */
section#about {
  /*background:#40A4C4;*/
  background: #FFC107;
  border-bottom: 1px solid #328AA7;
  color: white;
}

section#about h5 {
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

section#about p {
  max-width: 600px;
  margin: 40px auto;
  line-height: 1.5em;
  font-size: 1.2em;
  padding: 10px;
}


/* ====== Team Section */
section#team {
  padding: 20px 0;
  background: #fff;
}

section#team ul {
  display: inline-block;
  padding: 0;
}

section#team ul li{
  margin: 20px 0;
  font-size: 1.5rem;
  list-style:  none;
  float: left;
  width: 25%;
  min-height:  310px;
  max-width: 250px;
  min-width: 160px;
  position: relative;
  text-align: center;
}

@media all and (max-width : 880px) {
  section#team ul li{
      width: 50%;
      max-width: 1000px;

    }
}
section#team ul li .avatar {
  width: 176px;
  height: 180px;
  display: block;
  background-size:  contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto 10px;
  z-index: 2;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media all and (max-width : 450px) {
  section#team ul li{
    font-size: 1rem;
    width: 50%;
    min-width: 0px;
  }

  section#team ul li .avatar{
      width: 120px;
      height: 122px;
  }

  section#team .width {
    padding: 0px;
  }
}
#david {
  background-image: url("img/prof_david.png");
}

#adam {
  background-image: url("img/prof_adam.png");
}

#trent {
  background-image: url("img/prof_trent.gif");
}

#brenton {
  background-image: url("img/prof_brenton.png");
}

#anjali {
  background-image: url("img/prof_anjali.png");
}

#soham {
  background-image: url("img/prof_soham.png");
}

#andrew {
  background-image: url("img/prof_andrew.png");
}

#chloe {
  background-image: url("img/prof_chloe.png");
}

#sherman {
  background-image: url("img/prof_sherman.png");
}

#andrew {
  background-image: url("img/prof_andrew.png");
}

section#team ul li .title{
  font-size: 1rem;

  color: #9FA6A8;
  display: block;
}


/* ======== info pages ====== */
.infobackground {
  background-color: white;
  padding: 20px 0 80px;
}

.info {
  color: #6B8187;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;

  font-size: 1.4em;
  max-width: 700px;
  line-height: 1.4em;
  border-bottom: 1px solid #E0F0F5;
}

.info h1, .info h2, .info h3, .info h4, .info h5, .info h6 {
  color: #3F4D51;
}

.info p {
  font-size: 0.8em;
  line-height: 1.4em;
}

.info .notice {
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  body {
    font-size: 1em;
  }

  .width {
    height: 100%;
    padding: 40px;
  }


  .title {
    text-align: center;
  }

  section#header img {
    text-align: center;
    margin-left: 20%;
    height: 3.7em;
    width: 3.7em;
  }

  span.subhead:before, span.subhead:after {
    content: "";
    width: 1em;
    height: 0.2em;
    border-top: 1px solid white;
    display: inline-block;
    margin: 0 10px;
  }
  
  .info blockquote {
    color: #3F4D51;
    font-family:  'museo_sans700', sans-serif;
  }

  .info li {
    margin-bottom: 6px;
    color: #3F4D51;
  }

  .info .emphasis {

  }

  .info .emphasis li {
    margin-bottom: 16px;
    font-family: 'museo_sans300', sans-serif;
  }

  .info ol {
    list-style-type: lower-roman;
  }

  .info ol ol {
    list-style-type: lower-alpha;
    font-size: 0.8em;
    line-height: 1.3em;
  }

  .info ul ul {
    font-size: 0.8em;
    line-height: 1.3em;
  }

  .info .card {
    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 20px 20px 30px;
  background: #fff;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow:  0 2px 4px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  }

  .info img.asset-preview {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius:  4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }

  .info img.asset-preview.quarter {
    display: inline-block;
    width: 24%;
  }

  .info span.captionlink {
    padding-left: 10px;
    font-size: 0.8em;
  }

  .info span.captionlink a {
    font-family: 'museo_sans700', sans-serif;
  }
}


/* ====== Footer */
footer {
  background: #F5F5F5;
  border-top: 1px solid #EAEAEA;
  min-height: 85px;

  padding: 0 20px;
}

footer ul#contactInfo {
  padding: 0;

}

footer ul#contactInfo li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

footer ul#contactInfo li#location svg {
  margin-bottom: -1px;
  margin-right: 2px;
}

footer .copyright {
  float: right;
}

@media all and (max-width : 740px) {
  footer ul#contactInfo li {
    width: 100%;
    text-align:  center;
    margin: 0px auto 20px;
  }

  footer .copyright {
    clear: both;
    width: 100%;
    text-align: center;
  }
}

.clear {
  clear: both;
}


